# dependencies
node_modules/

# Next.js build output
.next/
out/

# environment variables
.env
.env.local
.env.*.local

# database
prisma/dev.db
prisma/dev.db-journal

# OS
.DS_Store

# debug
npm-debug.log*
